{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Social Monitoring{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Luxury Car Market</h1>
   <h3>Recent Activity</h3>
    
    <img id="imgtab" class="small" 
    src='./static/Daily Facebook Likes_FINAL_20151213.png',  
    width = '300px'/>
 
    <img id="imgtab" class="small" 
    src='./static/Monthly Facebook Posts Shared_FINAL_20151213.png',  
    width = '300px'/>

   <img id="imgtab" class="small" 
    src='./static/twitter_Cumulative Daily Tweets_FINAL_20151213.png',  
    width = '300px'/>

</div>
<div class="page-header">
    

    <img id="imgtab" class="small" 
    src='./static/Monthly Facebook Posts_FINAL_20151213.png',  
    width = '300px'/>

    <img id="imgtab" class="small" 
    src='./static/Monthly Facebook Likes_FINAL_20151213.png',  
    width = '300px'/>

   <img id="imgtab" class="small" 
    src='./static/twitter_Cumulative Tweets_FINAL_20151213.png',  
    width = '300px'/>
</div>
<div class="page-header">

    <img id="imgtab" class="small" 
    src='./static/Monthly Post Comments_FINAL_20151213.png',  
    width = '300px'/>

</div>





    
 


</div>

{% endblock %}
